html, body {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.add-todo-section {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.todo-list-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.todo-item-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.global-actions-section {
    display: flex;
    justify-content: center;
}